
.game {
    width: 400px;
    height: 610px;
    background: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: inherit;
    background-position: 0 0;
    animation: moveBg 60s linear infinite;

    .gameBoard{
        position: relative;
        width: 400px;
        height: 610px;
        overflow: hidden;
        
        .bird{
            position: absolute;
            width: 70px;
            height: 50px;
            
            left: 165px;
            top: 150px;

            transition: 0.3s all linear;

            background: url(../assets/images/pngwing.com.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;
        }

        .pipe{
            position: absolute;
            height: 100%;
            top: 0;

            .cano{
                position: absolute;
                width: 70px;
                right: 0;;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                animation: moveBg 8s linear infinite;
    
                .head{
                    width: 100%;
                    height: 24px;
                    border: solid #000;
                    background-color: green;
                }
    
                .body{
                    width: 70%;
                    height: 100%;
    
                    border-style: solid;
                    border-width: 0px 3px 3px 3px;
                    border-color: transparent #000 #000 #000;
                    background-color: green;
                }
            }
        }
    }
}

@keyframes moveBg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -9000px 0;
    }
}

.down{ transform: rotate(30deg); }
.up{ transform: rotate(-30deg); }
