
.game {
    width: 400px;
    height: 610px;
    /* background: url(../assets/images/background.jpg); */
    background-size: cover;
    background-position: inherit;
    background-position: 0 0;

    .gridRules{
        position: absolute;
        top: 50px;
        right: 50px;

        width: 400px;
        height: 600px;

        border: 2px solid yellow;
        box-shadow: yellow 0px 0px 20px;

        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding: 15px;

        .rulesTitle{
            color: yellow;
            text-align: center;
            width: 70%;
            font-size: 48px;

            padding: 20px 0;
            border-bottom: 2px solid yellow;  
        }

        .rulesTextbody{
            color: yellow;
            text-align: left;
            font-size: 15px;
        }
    }

    .scoreRank{
        display: block;
        opacity: 1;
        position: absolute;
        left: 50px;
        top: 50px;
        width:  300px;
        min-height: 1px;

        box-shadow: yellow 0px 0px 20px;

        table {
            border-collapse: collapse;
            width: 100%;
    
            td, th {
                margin: 0;
                padding: 0 8px;
                border: 1.6px solid var(--cor-grade);
                text-align: left;
                color: yellow;
            }

            th{
                background-color: yellow;
                color: black;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
              }

            #rank{
                width: 25px;
            }
            #score{
                width: 50px;
          }
        }
    }
    
    .score{
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
        z-index: 99;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 48px;
        color: white;
    }

    .modalGameStart{
        position: absolute;
        width: 400px;
        height: 610px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.253);
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title{
            position: absolute;
            top: 50%;            
            color: rgb(56, 56, 56);
            font-size: 30px;
        }
    }

    .modalGameOver{
        position: absolute;
        width: 400px;
        height: 610px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.699);
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title{
            position: absolute;
            top: 70px;
            color: yellow;
            font-size: 48px;
        }

        .tempScore{
            position: absolute;
            top: 120px;
            color: yellow;
            font-size: 24px;
            font-weight: 400;
        }

        .insertNickname{
            margin: 12px 0;
            padding: 2px 12px;
            font-family: 'VT323', monospace;
            font-size: 22px;
            background-color: #ffffff21;
            color: yellow;
            border-radius: 5px;
            text-transform: capitalize;
            border: 2px solid transparent;
            
            &:focus{
                border: 2px solid yellow;
                outline: none;
            }
        }

        .textReload{
            cursor: pointer;
            margin-top: 2px;
            font-family: 'VT323', monospace;
            font-size: 16px;
            color: yellow;
            transition: 0.3s all linear;
        
        }

    }

    .gameBoard{
        position: relative;
        width: 400px;
        height: 610px;
        overflow: hidden;
        
        .bird{
            position: absolute;
            width: 41px;
            height: 30px;
            
            left: 165px;
            top: 150px;
            z-index: 9;

            transition: 0.3s all linear;

            background: url(../assets/images/pngwing.com.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;
        }
        
        .skate{
            background: url(../assets/images/birdSkate.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;
        }

        .pipe{
            position: absolute;
            height: 100%;
            top: 0;

            .cano{
                position: absolute;
                width: 70px;
                right: 0;;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
    
                .head{
                    width: 100%;
                    height: 24px;
                    border: solid yellow;
                    box-shadow: yellow 0px 0px 20px;
                }
    
                .body{
                    width: 70%;
                    height: 100%;
    
                    border-style: solid;
                    border-width: 0px 3px 3px 3px;
                    border-color: transparent yellow yellow yellow;
                    box-shadow: yellow 0px 0px 20px;
                }
            }
        }
    }
}

.moveBackground{animation: moveBg 60s linear infinite;}

.down{ transform: rotate(30deg); }
.up{ transform: rotate(-30deg); }

.hidden{
    display: none !important;
}

@media (min-width: 1200px) {
    .scoreRank, .gridRules{ display: block !important; }
}

@media (max-width: 1199px) {
    .scoreRank, .gridRules{ display: none !important; }
}